@model IEnumerable<BarBuddy.Models.Tab>


<body style="background-image: url('/Images/Halo.png');">
    <br />

    <h2>Active Orders</h2>

    <p>
        @Html.ActionLink("Create New Customer Order", "Create")
        @Html.ActionLink("All Orders", "Index")
    </p>
    <table class="table">
        <tr>
            <th>
                <p> Assigned Worker Name</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <p> Check Out Completed</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bartender.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.ActionLink("Change Customer Information", "Edit", new { id = item.TabId }) |
                    @Html.ActionLink("Delete Order", "Delete", new { id = item.TabId })|
                    @Html.ActionLink("Check Out Customer", "Checkout", new { id = item.TabId })|
                    @Html.ActionLink("Add Drink", "Create", "TabRecipes")
                </td>
            </tr>
        }

    </table>
</body>