@model IEnumerable<BarBuddy.Models.Inventory>


<h2>Current Inventory</h2>
<body style="background-image: url('/Images/Halo.png');">

    <p>
        @Html.ActionLink("Return", "BartenderHome", "Bartenders")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
               <p>Amount in Stock For Restaurant</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottleSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BottleSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Notify Management Low Stock", "Notification", new { id = item.InventoryId })
                </td>
            </tr>
        }

    </table>
</body>`